.ModalDialog {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 1;
    z-index: 10;
    width: 100%;
    height: 100%;
}
.ModalDialog_content {
    width: 60%;
    left: 20%;
    right: 20%;
    z-index: 11;
    position: absolute;
    height: 80%;
    top: 10%;
    bottom: 10%;
    opacity: 1;
    background-color: white;
}
.ModalDialog_header {
    position: inherit;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    border-bottom: black solid 1px;

}

.ModalDialog_headerText {
   text-align: center;
   padding-top: 4%;
}

.ModalDialog_body {

    position: inherit;
    top: 20%;
    left: 0;
    height: 60%;
    width: 100%;
    border-bottom: black solid 1px;
}
.ModalDialog_bodyContent {
   text-align: center;
   top: 45%;
   position: relative;
}
.ModalDialog_actions {
    position: inherit;
    top: 80%;
    left: 0;
    height: 20%;
    width: 100%;
}
.ModalDialog_actionsContent {
  text-align: center;
   position: relative;
   top: 40%;
}
.ModalDialog_action {
    border-top-color: black;
    border-top-style: solid;
    width: 100px;
    height: 50px;
    text-align: center;
}
