.UsersTable {
    width: 40%;
    position: relative;
    left: 30%;
    right: 30px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.TableRow {
    position: relative;
    height: 60px;
    width: 100%;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 1px;
    line-height: 60px;
    vertical-align: middle;
}
.TableRow .TableRow1_2 {
    width: 80%;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 1px;
}
.TableRow .TableRow2_2 {
    width: 20%;
}
.TableRow_Text {
    font-size: 12px;
    font-weight: 600;
}
.TableHeader {

}
.TableHeader_AddUser {
    background:  url("../img/addUser.png") top right;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 5px; 
}
.TableHeader_AddUser:hover {
    cursor: pointer;
}

.TableRow_Delete {
    background:  url("../img/removeUser.jpg") top right;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 5px;  
}
.TableRow_Delete:hover {
    cursor: pointer;
}
.TableHeader_Text {
    font-size: 16px;
    font-weight: 800;
}